<include('../layouts/layout.marko', data)>
    <@body>
<main>
        <h1>Account</h1>
        <p class="lead">At ${out.global.site.title} we play various PC games. Here's an overview of the games we're active in.</p>
</main>
    </@body>
</include>