<footer>
    <span>&copy; ${(new Date()).getFullYear()} ${out.global.site.title}</span>
    <span class="separator"></span>
    <a href="mailto:${out.global.author.emailAddress}">Email webmaster</a>
    <span class="separator"></span>
    <a href="https://github.com/MrGreenGaming/website" target="_blank">Fork website on GitHub</a>
</footer>