<footer class="footer">
    <div class="container content has-text-centered">
        <p>
            <span>&copy; ${(new Date()).getFullYear()} ${out.global.site.title}</span>.
            <a href="mailto:${out.global.author.emailAddress}">Email webmaster</a>.
            <a href="https://github.com/MrGreenGaming/website" target="_blank">Fork website on GitHub</a>.
        </p>
    </div>
</footer>