<include('./layouts/layout.marko', data)>
    <@body>
<main>
        <h1>About ${out.global.site.title}</h1>
        <p>
        	<em>${out.global.site.title}</em> is an online games community founded back in 2006.
        </p>
</main>
    </@body>
</include>