<include('../layouts/layout.marko', data)>
    <@body>
<main class="container">
        <h1>GreenCoins</h1>
        <p class="lead">GreenCoins payments/donating will be added again within a few days. Our apologies for the inconvenience.</p>
</main>
    </@body>
</include>