{
  "base": {
    "site": {
      "title": "Mr. Green Gaming",
      "googleAnalyticsTrackingId": null,
      "author": {
        "name": "Mr. Green Gaming Webmaster",
        "emailAddress": "mail@example.com"
      }
    },
    "host": {
      "address": null,
      "port": 4000
    },
    "http": {
      "trustProxy": false
    },
    "url": {
      "avatars": "https://mydomain.com/avatars/"
    },
    "forums": {
      "enabled": false
    },
    "databases": {
      "base": {
        "host": "",
        "port": 3306,
        "user": "",
        "password": "",
        "databaseName": "",
        "connectionLimit": 10
      },
      "forums": {
        "host": "",
        "port": 3306,
        "user": "",
        "password": "",
        "databaseName": "",
        "connectionLimit": 10
      }
    },
    "configReloadTimeSeconds": 900
  },
  "development": {
    "site": {
      "publicUrl": "http://localhost:4000"
    }
  },
  "production": {
    "http": {
      "trustProxy": true
    },
    "site": {
      "publicUrl": "https://mydomain.com"
    },
    "databases": {
      "base": {
        "host": "localhost",
        "socket": "/var/lib/mysql/mysql.sock"
      },
      "forums": {
        "host": "localhost",
        "socket": "/var/lib/mysql/mysql.sock"
      }
    }
  }
}