@import 'variables';

form {
  > b, > input, > div {
    display: block;
    width: 100%;
    margin: .5em 0;
  }

  input {
    border: .05em solid rgba(#000, 0.2);
    border-radius: 0.25em;
    box-sizing: border-box;
    padding: .8em .5em;

    &[type=submit] {
      background-color: $primary-dark-color;
      color: #FFF;
      cursor: pointer;
      transition: all .1s ease-in;

      &:hover {
        background-color: lighten($primary-dark-color, 5);
        text-decoration: underline;
      }
    }

    &[readonly] {
      cursor: not-allowed;
    }

    font-size: 1.1em;
  }
}