@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == medium-wide-screens {
    @media only screen and (min-width: $break-small + 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $media) {
      @content;
    }
  }
}

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $body-font-size;
}

main,
footer > div {
  width: calc(100% - 1em);
}

main,
nav,
footer > div {
  max-width: $body-max-width;
  margin: 0 auto 0 auto;
}

header {
  background-image: url(../media/bg.jpg);
  background-size: contain;
  background-position-y: 55%;
  width: 100%;
  overflow-x: hidden;

  > nav {
    background: linear-gradient(90deg, rgba($primary-dark-color, .8) 0%, rgba($primary-color, .8) 100%);
    padding: 0 1em;
    
    @media only screen and (max-width: calc(#{$break-large} + 1em - 1px)) {
      box-sizing: border-box;
    }

    @media only screen and (min-width: calc(#{$break-large} + 1em)) {

      transform: skew(20deg);

      > * {
        transform: skew(-20deg);
      }
    }

    //align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > a, > span, > div, > div > a {
      display: flex;
      align-items: center;

      margin: 0 0.2em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    > a, > span {
      padding: 0.3em 0;
    }

    > a, > span, > div {
      &.brand {
        &, > img {
          $logo-size: 64px;
          width: $logo-size;
          height: $logo-size;
        }
      }

      &:not(.brand) {
        align-self: stretch;
      }
      color: $nav-item-color;
      //margin-left: 20px;

      &.separator {
        height: 26px;
        width: 2px;
        background-color: $nav-item-color;
        align-self: center;
      }

      .icon {
        width: 24px;
        height: 24px;
      }
    }

    > div > a {
      align-self: stretch;
    }

    > a, > div > a {
      border-bottom: 2px solid transparent;
      text-decoration: none;

      &:hover {
        border-bottom-color: $nav-item-color;
      }
    }
  }
}

main {
}

footer {
  margin: 15px auto 15px auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $footer-text-size;

  > * {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  .separator {
    height: calc(#{$footer-text-size} + 4px);
    width: 1px;
    background-color: $footer-text-color;
    align-self: center;
  }

  > a, > span {
    color: $footer-text-color;
  }
}